<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>de</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleIdentifier</key>
	<string>lmzdev.iawriter-script</string>
	<key>CFBundleName</key>
	<string>Script Large</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>3</string>
	<key>IATemplateDocumentFile</key>
	<string>document</string>
	<key>IATemplateTitleFile</key>
	<string>title</string>
	<key>IATemplateFooterFile</key>
	<string>footer</string>
	<key>IATemplateFooterHeight</key>
	<integer>90</integer>
	<key>IATemplateHeaderFile</key>
	<string>header</string>
	<key>IATemplateHeaderHeight</key>
	<integer>84</integer>
	<key>IATemplateDescription</key>
	<string>Using PT Fonts, very large for readability</string>
	<key>IATemplateAuthor</key>
	<string>lmzdev</string>
	<key>IATemplateAuthorURL</key>
	<string></string>
</dict>
</plist>
